/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}
.pop-icon {
        font-size: 20px!important;
}
.cat-icon {
        left: 12px!important;
}
.spacer {
    margin-top: 50px;
}
#fab-list {
    z-index: 9999999;
}
.black-t {
    background: #424242;
    width: 100%;
    height: 150px;
}
.black-text{
    text-align: center;
    position: absolute;
    bottom: 118px;
    color: white;
    left: 20px;
}
i.menux {
    font-size: 15px;
}
i.mapx {
    font-size: 28px!important;
    margin-top: 12px!important;
}
i.catx {
    
}
#map {
    width:100%;
    height: 100%;
    background: white;
}
/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}
